# npm
node_modules/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for VSCode
.history/

# My tests
*.test.js

#logs
logs/
